<div id="game-header">
    <div id="game-header-left">
        <div class="mine-counter">
            <span class="flag-icon" data-value="cell-flag-no-border"></span>
            <span id="mines-left" style="min-width: 3ch;">0</span>
        </div>
    </div>
    <div id="game-header-center">
        <button class="button" id="show-probability-btn">Show Probability</button>
    </div>
    <div id="game-header-right">
        <span id="timer">00:00</span>
    </div>
</div>


<div id="game-board">

</div>

<div id="game-outcome"></div>
<div id="game-menu">
    <button class="button" id="restart-btn">Restart</button>
    <button class="button" id="menu-btn">Main Menu</button>
</div>