<div class="difficulty-buttons">
    <div>
        <button class="button play-game-default" data-width="9" data-height="9" data-mines="10">Easy</button>
        <div class="difficulty-info">9x9 • 10 mines</div>
    </div>
    <div>
        <button class="button play-game-default" data-width="16" data-height="16" data-mines="40">Medium</button>
        <div class="difficulty-info">16x16 • 40 mines</div>
    </div>
    <div>
        <button class="button play-game-default" data-width="30" data-height="16" data-mines="99">Hard</button>
        <div class="difficulty-info">30x16 • 99 mines</div>
    </div>
</div>

<div class="custom-section">
    <button class="button play-game-custom">Custom</button>
    <div class="custom-inputs">
        <input type="number" id="width" placeholder="Width" min="1" max="50">
        <input type="number" id="height" placeholder="Height" min="1" max="50">
        <input type="number" id="mines" placeholder="Mines" min="1">
    </div>
</div>